* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 20px;
}
h1 {
    font-weight: 900;
}

p {
    color: grey;
}

li {
    color: grey;
    line-height: 35px;
}